/* ==============================
   DASHBOARD
============================== */


/* BOAS-VINDAS */

.boas-vindas {
    margin-bottom: 25px;
}

.boas-vindas span {
    color: #5E8F66;

    font-size: 14px;
    font-weight: bold;
}

.boas-vindas h1 {
    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 25px;

    color: #2E2E2E;
}

.boas-vindas p {
    color: #777;

    font-size: 14px;

    line-height: 1.5;
}


/* ==============================
   TÍTULOS
============================== */

.titulo-secao {
    color: #2E2E2E;

    font-size: 20px;

    margin-bottom: 15px;
}


/* ==============================
   CARDS
============================== */

.cards {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.card {
    background: white;

    min-height: 85px;

    padding: 14px;

    border-radius: 12px;

    display: flex;
    align-items: center;

    gap: 10px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.icone {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background: #DDE8D8;

    color: #5E8F66;

    font-size: 18px;
}

.card p {
    color: #777;

    font-size: 12px;

    margin-bottom: 4px;
}

.card strong {
    font-size: 14px;
}


/* ==============================
   SEÇÕES
============================== */

.secao {
    margin-top: 30px;
}


/* ==============================
   RESUMO FINANCEIRO
============================== */

.financeiro {
    background: white;

    padding: 10px 18px;

    border-radius: 12px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.financeiro-item {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 14px 0;

    border-bottom: 1px solid #EEEEEE;
}

.financeiro-item:last-child {
    border-bottom: none;
}

.financeiro-item span {
    color: #777;

    font-size: 14px;
}

.financeiro-item strong {
    font-size: 14px;
}

.financeiro-item.lucro strong {
    color: #5E8F66;
}


/* ==============================
   ACESSO RÁPIDO
============================== */

.atalhos {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.atalhos a {
    background: #DDE8D8;

    color: #2E2E2E;

    text-decoration: none;

    min-height: 80px;

    border-radius: 12px;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 8px;

    font-size: 14px;
}

.atalhos a i {
    color: #5E8F66;

    font-size: 20px;
}


/* ==============================
   CELULAR
============================== */

@media (max-width: 600px) {

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .boas-vindas h1 {
        font-size: 24px;
    }

}